{
    "printWidth": 150,
    "singleQuote": true,
    "trailingComma": "none",
    "semi": false,
    "tabWidth": 4,
    "importOrder": [
        "^@core/(.*)$",
        "^@server/(.*)$",
        "^@ui/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}